<div class="section" *ngIf="orderResponseModel != null">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>YOUR ORDER IS PROCESSED!</h3>
                <h4>Order ID: {{orderResponseModel.id}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col my-4">
                <table class="table">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th>Image</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of orderResponseModel.ordersDetails; let i=index">
                            <td class="d-flex align-items-center justify-content-around">
                                <img [src]="p.product.image" alt="{{p.product.title}}" height="60" class="order-1">
                            </td>
                            <td>
                                <p>{{p.product.title}}</p>
                            </td>
                            <td>
                                <p>{{p.price | currency:'USD'}}</p>
                            </td>
                            <td>
                                <form>
                                    <input type="number" id="number" [value]="p.quantity" readonly />
                                </form>
                            </td>
                            <td>
                                <p>{{p.price * p.quantity | currency:'USD'}}</p>
                            </td>
                        </tr>
                        <tr class="border-0">
                            <td style="border: none;"></td>
                            <td></td>
                            <td></td>
                            <td>TOTAL</td>
                            <td>{{0 | currency:'USD'}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div class="col-md-12 d-flex mb-5">
                <div class="d-flex w-100 justify-content-center flex-sm-column flex-md-row">
                    <a routerLink="/" class="btn btn-success btn-sm order-0">Continue Shopping</a>
                </div>
            </div>

        </div>
    </div>
</div>